<a href="https://colab.research.google.com/github/iki-sangadji/Data-Analyst-Portfolio/blob/main/demographic_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [3]:
import pandas as pd
import numpy as np

Read CSV file

In [62]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many of each race are represented in this dataset

In [63]:
race_count = df["race"].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

Average Male Age

In [66]:
average_age_men = round(df["age"].loc[df["sex"] == "Male"].mean(), 1)
print(average_age_men)

39.4

Precentage of Bachelors Degree

In [73]:
percentage_bachelors = (df.loc[df["education"] == "Bachelors"].shape[0] / df.shape[0]) * 100
print(round(percentage_bachelors, 1), "%")

16.4 %

Percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K

In [71]:
higher_education = df.loc[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
higher_education_rich = round(((higher_education.loc[higher_education["salary"] == ">50K"].shape[0] / higher_education.shape[0])*100), 1)
print(higher_education_rich,"%")

46.5 %

Percentage of people without advanced education make more than 50K

In [72]:
lower_education = df.loc[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
lower_education_rich = round((lower_education.loc[lower_education["salary"] == ">50K"].shape[0] / lower_education.shape[0] * 100),1)
print(lower_education_rich,"%")

17.4 %

Minimum number of hours a person works per week

In [74]:
min_work_hours = df["hours-per-week"].min()
num_min_workers = df.loc[df["hours-per-week"] == min_work_hours]
num_min_workers.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K

Percentage of the people who work the minimum number of hours per week have a salary of >50K

In [27]:
rich_percentage = (num_min_workers.loc[num_min_workers["salary"] == ">50K"].shape[0] / num_min_workers.shape[0]) * 100
rich_percentage

10.0

top 5 countries with the highest percentage of people that earn >50K

In [84]:
country_percentages = round(df.loc[df["salary"]  == ">50K"].groupby("native-country")["salary"].count() / df.groupby("native-country")["salary"].count() * 100, 1)
country_percentages= country_percentages.sort_values(ascending=False).head(5)
country_percentages = country_percentages.astype(str) + "%"
print(country_percentages)

native-country
Iran      41.9%
France    41.4%
India     40.0%
Taiwan    39.2%
Japan     38.7%
Name: salary, dtype: object

In [83]:
top_IN_occupation = df.loc[df["native-country"] == "Iran"].groupby("occupation")["salary"].count().idxmax()
top_IN_occupation

'Prof-specialty'